[alias]
  ll = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
  st = status

  cm = commit
  cma = commit -a # ステージングされたものをすべてコミット
  cmam = commit -a -m # cmaの他コミットメッセージを指定

  gp = pull origin HEAD -u

  co = checkout # shortcut for checkout
  nb = checkout -b # create new branch and checkout
  db = !git branch | grep -Ev '\\*|master|main' | peco | xargs git branch -D # ブランチ削除

  aa = add --all
  au = add -u

  fp = fetch -p # fetch and prune
  sync = !git pull && git push # 現在のブランチをぷるした後変更をプッシュする

[pull]
  ff = only

[core]
	autocrlf = input
	editor = nvim

[ghq]
	root = ~/workspace

[commit]
	template = ~/.gitmessage.txt

# ユーザ情報などはローカルで管理
[include]
	path = ~/.user.gitconfig
[diff]
	tool = vimdiff
